[submodule "themes/Hugo-Theme-Stack"]
	path = themes/Hugo-Theme-Stack
	url = https://github.com/CaiJimmy/hugo-theme-stack-starter.git
[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
